@{
    ViewBag.Title = "Contactenos";
}


<div class="container">
    <br />
    <h2>@ViewBag.Title.</h2>
    <hr />
    <address style="font-size:20px;">
        <strong>Sán Jose, Costa Rica </strong> <br />
        <strong>ECCI, Universidad de Costa Rica, San Pedro</strong><br />
        <strong>Teléfono:</strong> 1234-4321
    </address>

    <address style="font-size:20px;">
        <strong>Soporte al cliente: </strong>   <a>PizzaCoSoporte@pizzaco.com</a><br />
        <strong>Marketing:</strong> <a>PizzaCoMarketing@pizzaco.com</a>
    </address>

</div>
