@{
    ViewBag.Title = "MostrarCarrito";
    
}
    <div class="container body-content ">

        @if (ViewBag.Factura != null)
        {
            <div class="box-header row">
                <div class="col-md-11 box-header-title">Arma tu pizza</div>
                <button id="close" class="col-md-1 btn box-header-links" onclick="quitarFormularioPizza()">Cancelar</button>
            </div>
            <div class="contenedor-blanco">
                asd
            </div>

        }
        else
        {
            @*<br />
            <br />
            <br />
            <h2>Lo sentimos el carrito esta vacío.</h2>*@
            <br />
            <div class="box-header row">
                <div class="col-md-11 box-header-title">Carrito de compra</div>
                <button id="close" class="col-md-1 btn box-header-links" onclick="quitarFormularioPizza()"></button>
            </div>
            <div class="contenedor-blanco">

                <h2> Una pizza </h2>
                <hr />

                <h4> Tamaño: Mediano x 4000.00 ₡</h4>
                <hr />
                <h4> Ingredientes base de la pizza: </h4>
                <div style="margin-left: 10%;">

                    <h4>Masa fina x 300 ₡</h4>
                    <h4>Masa fina x 300 ₡ </h4>
                    <h4>Masa fina x 300 ₡ </h4>
                    <hr />
                    <h4> Total por pizza base:  </h4>
                </div>
                <hr />
                <h4> Toppings: </h4>
                <div style="margin-left: 10%;">

                    <h4> Tipo de masa: Masa fina x 300 ₡</h4>
                    <h4> Tipo de Salsa: Masa fina x 300 ₡ </h4>
                    <h4> Ingredientes: Masa fina x 300 ₡ </h4>
                    <h4> Ingredientes base de la pizza: </h4>
                    <hr />
                    <h4> Total por toppings:  </h4>
                </div>
                <hr />
                <h4> Información de envio:</h4>

                <div style="margin-left: 10%;">
                    <h4> Nombre: Masa fina x 300 ₡</h4>
                    <h4> Ciudad: Masa fina x 300 ₡ </h4>
                    <h4> Dirección: Masa fina x 300 ₡ </h4>
                    <h4> Teléfono:  </h4>
                    
                </div>
                <hr />
                <h4> Costo de envio:  </h4>
                <h4> Subtotal:  </h4>
                <h4> Impuesto:  </h4>
                <hr />
                <h4> Total:  </h4>


            </div>
        }


    </div>


