
@{
    ViewBag.Title = "NuestrosIngredientes";
}
    <div class="container">
        <br />
        <h2>Nuestros Ingredientes</h2>
        <hr />
        <h3> Tipos de masas: </h3>
        <br />
        <div id="masa" class="row">
            <div class="col-md-3">
                <label class="box-item">
                    <span class=" seleccionar-text row">Ingrediente </span>
                    <span class="item-name row">Masa regular</span>
                    <span class="row red-divider"></span>

                    <img src="~/Content/Imagenes pizza/toppings/en/2x/RD.png" style="width:150px;height:150px;" />
                </label>

            </div>
            <div class="col-md-3">
                <label class="box-item">
                    <span class=" seleccionar-text row">Ingrediente</span>
                    <span class="item-name row">Masa fina</span>
                    <span class="row red-divider"></span>
                    <img src="~/Content/Imagenes pizza/toppings/en/2x/ZC.png" style="width:150px;height:150px;" />
                </label>
            </div>
            <div class="col-md-3">
                <label class="box-item">
                    <span class=" seleccionar-text row">Ingrediente</span>
                    <span class="item-name row">Masa gruesa</span>
                    <span class="row red-divider"></span>
                    <img src="~/Content/Imagenes pizza/toppings/en/2x/ZD.png" style="width:150px;height:150px;" />
                </label>
            </div>
        </div>
        <hr />
        <h3> Tipos de salsas: </h3>
        <br />
        <div id="salsa" class="row">

            <div class="col-md-3">
                <label class="box-item">
                    <span class=" seleccionar-text row">Ingrediente</span>
                    <span class="item-name row">Tomate</span>
                    <span class="row red-divider"></span>
                    <img src="~/Content/Imagenes pizza/toppings/en/2x/basesauce/SH.png" style="width:150px;height:150px;" />
                </label>

            </div>

            <div class="col-md-3">
                <label class="box-item">
                    <span class=" seleccionar-text row">Ingrediente</span>
                    <span class="item-name row">Pesto</span>
                    <span class="row red-divider"></span>
                    <img src="~/Content/Imagenes pizza/toppings/en/2x/basesauce/SP.png" style="width:150px;height:150px;" />
                </label>
            </div>
            <div class="col-md-3">
                <label class="box-item">
                    <span class=" seleccionar-text row">Ingrediente</span>
                    <span class="item-name row">Buffalo</span>
                    <span class="row red-divider"></span>
                    <img src="~/Content/Imagenes pizza/toppings/en/2x/basesauce/BU.png" style="width:150px;height:150px;" />
                </label>
            </div>
            <div class="col-md-3">
                <label class="box-item">
                    <span class=" seleccionar-text row">Ingrediente</span>
                    <span class="item-name row">Crema y ajo</span>
                    <span class="row red-divider"></span>
                    <img src="~/Content/Imagenes pizza/toppings/en/2x/basesauce/GS.png" style="width:150px;height:150px;" />
                </label>
            </div>
        </div>
        <hr />
        <h3> Tipos de quesos: </h3>
        <br />
        <div id="queso" class="row">
            <div class="col-md-3">

                <label class="box-item" >
                    <span class=" seleccionar-text row">Ingrediente</span>
                    <span class="item-name row">Mozzarella </span>
                    <span class="row red-divider"></span>
                    <img src="~/Content/Imagenes pizza/toppings/en/2x/MZ.png" style="width:150px;height:150px;" />
                </label>

            </div>
            <div class="col-md-3">
                <label class="box-item">
                    <span class=" seleccionar-text row">Ingrediente</span>
                    <span class="item-name row">Parmesano</span>
                    <span class="row red-divider"></span>
                    <img src="~/Content/Imagenes pizza/toppings/en/2x/ZB.png" style="width:150px;height:150px;" />
                </label>
            </div>
            <div class="col-md-3">
                <label class="box-item">
                    <span class=" seleccionar-text row">Ingrediente</span>
                    <span class="item-name row">Cuatro quesos</span>
                    <span class="row red-divider"></span>
                    <img src="~/Content/Imagenes pizza/toppings/en/2x/XC.png" style="width:150px;height:150px;" />
                </label>
            </div>
            <div class="col-md-3">
                <label class="box-item" >
                    <span class=" seleccionar-text row">Ingrediente</span>
                    <span class="item-name row">Sin queso</span>
                    <span class="row red-divider"></span>
                    <img src="~/Content/Imagenes pizza/toppings/en/2x/NC.png" style="width:150px;height:150px;" />
                </label>
            </div>
        </div>
        <hr />

        <h3> Toppings: </h3>
        <br />
        <div id="toppings">
            <div class="row">
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Jamón</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/H.png" style="width:150px;height:150px;" />
                    </label>

                </div>
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Pepperoni</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/PN.png" style="width:150px;height:150px;" />
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Tocino</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/BS.png" style="width:150px;height:150px;" />
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Carne Molida</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/GB.png" style="width:150px;height:150px;" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Salami</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/SA.png" style="width:150px;height:150px;" />
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Pollo</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/CH.png" style="width:150px;height:150px;" />
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Chorizo</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/ZO.png" style="width:150px;height:150px;" />
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Fajitas</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/K.png" style="width:150px;height:150px;" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Champiñones</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/FM.png" style="width:150px;height:150px;" />
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Aceitunas</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/BO.png" style="width:150px;height:150px;" />
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Piña</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/PI.png" style="width:150px;height:150px;" />
                    </label>
                </div>
                <div class="col-md-3">

                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Cebolla morada</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/O.png" style="width:150px;height:150px;" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Chile dulce</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/HP.png" style="width:150px;height:150px;" />
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Espinaca</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/S.png" style="width:150px;height:150px;" />
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Jalapeño</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/JP.png" style="width:150px;height:150px;" />
                    </label>
                </div>
                <div class="col-md-3">

                    <label class="box-item">
                        <span class=" seleccionar-text row">Ingrediente</span>
                        <span class="item-name row">Culantro</span>
                        <span class="row red-divider"></span>
                        <img src="~/Content/Imagenes pizza/toppings/en/2x/LN.png" style="width:150px;height:150px;" />
                    </label>
                </div>
            </div>
            <br />
            @Html.ActionLink("Regresar a la página principal", "Index", "PizzaApp", new { @class = "btn submit-btn" })
        </div>


    </div>
        




