body {
    padding-bottom: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    background-image: url('imagenes pizza/bg-configurator-header.jpg');
}

h2 {
    font-family: 'Fredoka One', cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-orange {
    background-color: #fd7e14;
    font-family: 'Fredoka One', cursive;
}

.navbar-orange a{
    color: white;
}

.font-link {


}
.pizza-banner {
    background-image: url('../../Content/Imagenes pizza/Pizza-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center  -100px;
    height: 20vw;
    color: white;
    border-bottom: 10px solid white;
}

.margin-top {
    margin-top: 60px;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}

.box-btn {
    background-color: #537b3d;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.box-btn:hover {
    background-color: white;
    color: #537b3d;
}

.box-btn-activated {
    border-radius: 10px;
    color: white;
    background-color: white;
    color: #537b3d;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0%;
    top: 0%;
    width: 104%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.box-container {
    margin: 6% auto; /* 15% from the top and centered */
    width: 1200px; /* Could be more or less, depending on screen size */
}

.box-container-generic { /* Could be more or less, depending on screen size */
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedor-blanco {
    padding: 25px;
    border-radius: 25px;
    background-color: white;
}
.nav-bar-pizza {
    padding: 25px;
    border-radius: 25px;
    background-color: #eaf0f3;
    border: solid 2px white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -4%;
    text-align: center;
}

.formulario-pizza-body {
    background-image: url('imagenes pizza/bg-configurator-header.jpg');
}

.select_item {
    display: none !important;
}

.label_item {
    opacity: 1;
}

.select_item:checked + label {
    border: solid 2px orange;
}