body {
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-image: url('imagenes pizza/bg-configurator-header.jpg');
}

h2 {
    font-family: 'Fredoka One', cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.navbar-orange {
    background-color: #fd7e14;
    font-family: 'Fredoka One', cursive;
}

.navbar-orange a{
    color: white;
}

.font-link {


}
.pizza-banner {
    background-image: url('../../Content/Imagenes pizza/Pizza-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center  -100px;
    height: 20vw;
    color: white;
    border-bottom: 10px solid white;
}

.margin-top {
    margin-top: 60px;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}

.box-btn {
    background-color: #537b3d;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.box-btn:hover {
    background-color: white;
    color: #537b3d;
}

.box-btn-activated {
    border-radius: 10px;
    color: white;
    background-color: white;
    color: #537b3d;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0%;
    top: 0%;
    width: 104%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.box-container {
    margin: 6% auto; /* 15% from the top and centered */
    width: 1200px; /* Could be more or less, depending on screen size */
}

.box-container-generic { /* Could be more or less, depending on screen size */
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-header {
    margin-right: 0px;
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    background-color: orange;
    color: white;
}

.box-header-title {
    padding: 10px;
    padding-left: 0px;
    height: 33px;
    line-height: 1.0;
    font-size: 17px !important;
    font-weight: 400;
}

.box-header-links {
    padding: 5px;
    height: 40px;
    color: white;
}

.close {
    float: right;
    opacity: 0.7;
}

.contenedor-blanco {
    padding: 25px;
    border-radius: 25px;
    background-color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}
.nav-bar-pizza {
    padding: 25px;
    border-radius: 25px;
    background-color: #eaf0f3;
    border: solid 2px white;
    text-align: center;
}

.nav-bar-text {
    font-size: 20px;
    font-weight: 400;
    color: #6d7273;
    border: none;
    background-color: transparent;
    border-bottom:  solid 1px transparent;
}

.active {
    border-radius: 25px;
    background-color: white;
    border-bottom: solid 1px red;
}


.formulario-pizza-body {
    background-image: url('imagenes pizza/bg-configurator-header.jpg');
}

.tamano-body {
    border-radius: 5px;
    background-color: #f2f5f7;
    border:solid 1px #bfc9d2;
    text-align: center;
}
.tamano-text {
    font-size: 14px;
    font-weight:700;
    color: #5f3518;
    margin-left:5px;
    text-align:center;
}
.red-divider-tamano {
    border-bottom: solid 1px red;
    margin-left: 5%;
    margin-right: 5%;
}
.box-item {
    border-radius: 15px;
    background-color: #f2f5f7;
    padding: 12px;
    box-shadow: 0px 0px 0px 1px #bfc9d2 inset;
}

.select_item {
    display: none !important;
}

.select_item:checked + label {
    box-shadow: 0px 0px 0px 2px orange inset;
}

.seleccionar-text {
    margin-left: 8px;
    font-family: 'Fredoka One', cursive;
    font-size: 14px;
    color: orange;
}
.item-name {
    margin-left: 8px;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    color: #5f3518;
}
.red-divider {
    border-bottom: solid 1px red;
    margin-left: 5%;
    margin-right: 40%;
}

.submit-btn {
    background-color: #537b3d;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.cancel-btn {
    background-color: #dc3545;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.cancel-btn:hover {
    background-color: white;
    color: #dc3545;
}

.submit-btn:hover {
    background-color: white;
    color: #537b3d;
}
