body {
    padding-bottom: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    background-image: url('imagenes pizza/bg-configurator-header.jpg');
}

h2 {
    font-family: 'Fredoka One', cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-orange {
    background-color: #fd7e14;
    font-family: 'Fredoka One', cursive;
}

.navbar-orange a{
    color: white;
}

.font-link {


}
.pizza-banner {
    background-image: url('../../Content/Imagenes pizza/Pizza-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center  -100px;
    height: 20vw;
    color: white;
    border-bottom: 10px solid white;
}

.margin-top {
    margin-top: 60px;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}

.box-btn {
    background-color: #537b3d;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.box-btn:hover {
    background-color: white;
    color: #537b3d;
}

.box-btn-activated {
    border-radius: 10px;
    color: white;
    background-color: white;
    color: #537b3d;
}
