@{
    ViewBag.Title = "Home Page";
}
<head>
    <script>
        function mostrarFormularioPizza() {
            document.getElementById("modal").style = "display: block;";

        }

        function quitarFormularioPizza() {
            var modal = document.getElementById("modal");
            modal.style = "display: none;";
            while (numeroNotasGenerales > 0) {
                quitarNota();
            }
            document.getElementById("form").reset()
        }

    </script>


</head>

<div class="pizza-banner shadow">
      
    <div class="container body-content">
        @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    </div>

</div>
<div class="container body-content margin-top ">
    <div class="row">
        <div style="position:relative; left: 2%; margin-top: -25px; margin-bottom: 25px;">
            <button type="button" class="btn box-btn" onclick="mostrarFormularioPizza()">  ORDENE YA  </button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
<div id="modal" class="row modal" >
    <div class="box-container">
        <div class="contenedor-blanco formulario-pizza-body ">
            <div class="nav-bar-pizza">
                <div class="row">
                    <div class="col-md-3">asd</div>
                    <div class="col-md-3">asd</div>
                    <div class="col-md-3">asd</div>
                    <div class="col-md-3">asd</div>
                </div>
            </div>
            <div class="row" style="margin-left: 10%; margin-right: 10%; padding: 25px; text-align:center;">
                <div class="col-md-3">asd</div>
                <div class="col-md-3">asd</div>
                <div class="col-md-3">asd</div>
                <div class="col-md-3">asd</div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <h2 style="text-align:center;">Titulo</h2>
                    <img src="~/Content/Imagenes pizza/toppings/en/2x/W.png" alt="Pizza base" style="width:280px;height:280px;">
                </div>
                <div id="toppings" class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-1" value="2" />
                            <label class="label_item" for="choose-top-1">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/H.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-2" value="2" />
                            <label class="label_item" for="choose-top-2">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/PN.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-3" value="2" />
                            <label class="label_item" for="choose-top-3">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/BS.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-4" value="2" />
                            <label class="label_item" for="choose-top-4">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/GB.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-5" value="2" />
                            <label class="label_item" for="choose-top-5">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/SA.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-6" value="2" />
                            <label class="label_item" for="choose-top-6">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/CH.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-7" value="2" />
                            <label class="label_item" for="choose-top-7">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/ZO.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-8" value="2" />
                            <label class="label_item" for="choose-top-8">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/K.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-9" value="2" />
                            <label class="label_item" for="choose-top-9">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/FM.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-10" value="2" />
                            <label class="label_item" for="choose-top-10">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/BO.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-11" value="2" />
                            <label class="label_item" for="choose-top-11">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/PI.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-12" value="2" />
                            <label class="label_item" for="choose-top-12">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/O.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-13" value="2" />
                            <label class="label_item" for="choose-top-13">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/HP.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-14" value="2" />
                            <label class="label_item" for="choose-top-14">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/S.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-15" value="2" />
                            <label class="label_item" for="choose-top-15">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/JP.png"    style="width:150px;height:150px;" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="select_item" name="choice" id="choose-top-16" value="2" />
                            <label class="label_item" for="choose-top-16">
                                <img src="~/Content/Imagenes pizza/toppings/en/2x/LN.png" style="width:150px;height:150px;" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

